body
	background #92D8F8
	margin 0
	overflow hidden

.logo
	position absolute
	width 75px
	top 15px
	left 15px
	img
		width 100%
header
	h1
		font-family 'Oswald', sans-serif
		text-align center
		margin 0
		font-size 50px
		color #A53692
	h2
		font-family 'Roboto Condensed', sans-serif
		margin 0
		text-align center
		margin-bottom 15px
		
section
	.caja-zapatos
		//background red
		//display flex
		position relative
		margin 0 auto
		width 1014px
				
		&:hover			
			.taco
				transform translate(-100px, 14px)
				transition .3s
				right 80px					
		.zapato
			//background yellow
			//position absolute
			width 662px
			img
				width 100% 
		.taco
			width 296px
			//background green
			//margin-top 151px
			position absolute
			z-index 1
			top 152px
			right 0px
			transition .3s 
			img
				width 100%
		
		.destakadas
			position absolute		
			width 240px
			left 45%	
			bottom 0px
			img
				width 100%

		.integrantes
			position absolute
			right 15px
			bottom 40px
			background rgba(255, 255, 255, .40)
			padding 15px
			border-radius 20px
			h3
				font-family 'Roboto Condensed', sans-serif
				color #A53692
				margin 0
			ul
				font-family arial
				margin 0
				padding 0
				li
					margin 0
					padding 0
					list-style none